:root {
    --anim-1: all 0.15s ease-out 0s;
    --anim-2: all 0.3s ease-out 0s;
    --anim-3: all 0.45s ease-out 0s;
    --anim-4: all 0.6s ease-out 0s;
    --anim-5: all 0.75s ease-out 0s;
    --gray-1: rgb(240, 240, 240);
    --gray-2: rgb(220, 220, 220);
    --gray-3: rgb(200, 200, 200);
    --gray-4: rgb(180, 180, 180);
    --gray-5: rgb(160, 160, 160);
    --gray-6: rgb(140, 140, 140);
    --gray-7: rgb(120, 120, 120);
    --gray-8: rgb(100, 100, 100);
    --gray-9: rgb(80, 80, 80);
    --blue-1: rgb(17, 127, 229);
}

@font-face {
    font-family: naikaifont;
    src: url(https://cdn.jsdelivr.net/gh/max32002/naikaifont@1.0/webfont/NaikaiFont-Regular-Lite.woff2) format("woff2"), url(https://cdn.jsdelivr.net/gh/max32002/naikaifont@1.0/webfont/NaikaiFont-Regular-Lite.woff) format("woff");
}

html,
body {
    font-family: naikaifont, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100%;
}

body.swal2-height-auto {
    height: 100% !important
}

.content {
    font-family: naikaifont;
    background: linear-gradient(0deg, var(--gray-2) 0%, var(--gray-2) 100%);
    z-index: 0;
    margin-right: 0px !important;
    min-height: 100%;
}

.header {
    background-color: var(--gray-2);
    z-index: 7;
    position: fixed;
    width: 100%;
    height: 4rem;
    box-shadow: 0px 5px 5px 1px var(--gray-3);
    -webkit-box-shadow: 0px 5px 5px 1px var(--gray-3);
    -moz-box-shadow: 0px 5px 5px 1px var(--gray-3);
    -o-box-shadow: 0px 5px 5px 1px var(--gray-3);
    padding: 0.5rem 0.5rem 0.5rem 2rem;
}

.header p {
    margin-top: 0.75rem;
}

.header .d-flex {
    align-items: center;
}

#main {
    padding: 5rem 1rem 1rem 250px;
    z-index: 1;
    width: 100%;
}

#menu-switch:checked~#main {
    padding: 5rem 1rem 1rem 4rem;
    justify-content: center;
}

#menu {
    position: fixed;
    z-index: 2;
    background-color: var(--gray-2);
    border-right: 1px solid var(--gray-3);
    transition: var(--anim-2);
    transform: translateX(0);
    padding-right: 0px;
    min-width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#menu a {
    color: var(--gray-8);
    display: block;
    text-decoration: none;
    padding: 0.3rem 0rem 0.3rem 2.5rem;
    width: 100%;
    transition: var(--anim-1);
}

#menu a:hover {
    background-color: var(--gray-4);
    color: var(--gray-9);
}

#menu>ul {
    padding: 5rem 0rem 0rem 0rem;
}

#menu>ul>li+li {
    border-top: 1px solid var(--gray-3);
}

#menu-switch {
    position: absolute;
    opacity: 0;
}

#menu-switch:checked+#menu {
    opacity: 0;
    transform: translateX(-100%);
}

#menu-switch-label {
    height: 3rem;
    width: 3rem;
    text-align: center;
    border-radius: 100px;
    padding: 5px;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--anim-1);
}

#menu-switch-label:hover {
    background-color: var(--gray-4);
    color: white;
}

.role {
    cursor: pointer;
    margin-bottom: 10px;
}

.role:hover {
    border-radius: 5px;
    transition: var(--anim-1);
    box-shadow: 0px 5px 5px 1px var(--gray-4);
    -webkit-box-shadow: 0px 5px 5px 1px var(--gray-4);
    -moz-box-shadow: 0px 5px 5px 1px var(--gray-4);
    -o-box-shadow: 0px 5px 5px 1px var(--gray-4);
}

.role div {
    height: 10rem;
    width: 10rem;
    border-radius: 5px;
    margin: 10px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.role img {
    max-width: 144px;
    max-height: 144px;
}

.role p {
    text-align: center;
}

.swal2-popup {
    font-family: naikaifont;
    width: 64em;
}

.BB-detail {
    display: flex;
}

.BB-detail>div {
    border: 1px solid var(--gray-2);
}

.BB-detail-content {
    text-align: left;
    flex-grow: 5;
    padding: 5px;
}

.BB-detail-content>div {
    padding: 10px 0px 10px 0px;
}

.BB-detail-content>div+div {
    border-top: 1px solid var(--gray-2);
}

.BB-detail-img {
    min-width: 320px;
    min-height: 320px;
    aspect-ratio: 1 / 1;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BB-detail-img img {
    -webkit-animation: baloon_1 3s infinite;
    animation: baloon_1 3s infinite;
    -webkit-filter: drop-shadow(0px 5px 2px #222);
    filter: drop-shadow(0px 5px 2px #222);
}

@-webkit-keyframes baloon_1 {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes baloon_1 {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}

.concept-art {
    border: 1px solid var(--gray-2);
}

.loading {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 10px;
}

.home-introduce {
    flex-wrap: wrap;
    color: var(--gray-8);
}

.home-introduce>div {
    margin: 10px;
}

#BBTotal {
    color: var(--blue-1);
}

.btn-discord {
    background-color: #7289da!important;
    border: none!important;
}

.btn-discord:hover {
    background-color: #6176c5!important;
}

.collections-img {
    max-width: 512px;
    width: 100%;
}

.button-group {
    margin: 10px 0px;
}

.filter-button {
    border-radius: 5px;
    border: 1px solid var(--gray-3);
    background-color: var(--gray-1);
    transition: var(--anim-1);
    padding: 5px 10px;
}

.filter-button:hover {
    background-color: var(--gray-3);
    border: 1px solid var(--gray-5);
}

.filter-checked {
    background-color: var(--gray-4)!important;
    border: 1px solid var(--gray-6)!important;
    color: var(--gray-1);
}

.colpick_full {
    z-index: 2;
}

.colpick_field_letter {
    width: 17px!important;
}

@media (max-width: 576px) {
    #menu {
        z-index: 2;
        position: fixed;
        width: 100%;
        height: auto;
        box-shadow: 0px 5px 5px 1px var(--gray-3);
        -webkit-box-shadow: 0px 5px 5px 1px var(--gray-3);
        -moz-box-shadow: 0px 5px 5px 1px var(--gray-3);
        -o-box-shadow: 0px 5px 5px 1px var(--gray-3);
        transform: translateY(-100%);
    }
    #menu-switch:checked+#menu {
        opacity: 1;
        transform: translateY(0);
    }
    #main {
        padding: 5rem 1rem 1rem 4rem;
    }
}

@media (max-width: 768px) {
    .BB-detail {
        flex-direction: column;
    }
    .BB-detail-img {
        aspect-ratio: 2 / 1;
    }
}